.totalIntermediate#tcDesignacao {
    -fx-alignment: center !important;
}

.totalIntermediate {
    -fx-background-color: #dee2f3;
    -fx-font-weight: bold;
}

.totalIntermediateMixed {
    -fx-background-color: steelblue !important;
    -fx-font-weight: bold;
}

.totalIntermediateMixed#tcDesignacao {
    -fx-alignment: center !important;
}

.total {
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-alignment: center-left;
}

#tvData .table-column {
    -fx-alignment: center-right;
}

#tvData #tcCt {
    -fx-alignment: center;
}

#tvData #tcDesignacao {
    -fx-alignment: center-left;
}

#tvData #tcTotal.cell {
    -fx-font-weight: bold;
    -fx-end-margin: 100;
    -fx-padding: 0 7 0 0;
}

.table-view {
    -fx-font-size: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.table-row-cell {
    -fx-cell-size: 23px;
}

.table-row-cell:selected {
    -fx-background-color: steelblue !important;
}

.table-row-cell:selected .text {
    -fx-fill: white;

}

.table-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-alignment: center;
}